*.bc
*.bcc
*.so
*.pdf
*.ll
*.o
*.resolution.txt
*.S
binutils*/
*.csv
*.png
*.out
/setup.sh
SVF/
SVF2/
llvm-9/
*.taint
dft.log
dfsan_abilist.txt
*.dot
callgrind.*
cachegrind.*
*.function.list
*.color
*.txt
*.indent
*.log
.vscode/
benchmarks/*
*.svg
.DS_Store
